[Desktop Entry]
Encoding=UTF-8
Version=1.0
Exec=/usr/local/bin/clouddrive
Icon=/usr/share/icons/cloud-drive-icon.png
Type=Application
Terminal=false
Comment=Cloud Drive a Unofficial client for Google Drive
Name=Cloud Drive
GenericName=Cloud Drive
StartupNotify=false
Categories=Application;